<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AI Thinks.</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/client/assets/img/favicon.png" rel="icon">
  <link href="static/client/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/client/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/client/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/client/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/client/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/client/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/client/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/client/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Ninestars - v4.9.1
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">

        <h1 class="text-light"><a href="index.html"><span><img src="static/client/assets/img/favicon.png"> AI Thinks.</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/client/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" onclick="ClearFields();" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="getstarted scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Consulting done right</h1>
          <h2>Where talent meets opportunity</h2>
          <div>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="static/client/assets/img/hero-img.svg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="static/client/assets/img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">MISSION STATEMENT</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              AI Thinks is focused on helping its clients to fill their technical staffing needs by accurately providing experienced and qualified software professionals. AI Thinks consultants can also take complete responsibility of a project, including project management and managing the entire development life cycle. We adhere to the highest quality of standards and procedures to execute projects on a T & M (Time and Material) or Fixed-cost Basis
            </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-receipt"></i>
                <h4>CORE VALUES</h4>
                <p>AI Thinks Like any other company, we strive to be commercially successful, however we works diligently to nurture a values-based global culture.</p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-cube-alt"></i>
                <h4>CAPABILITIES</h4>
                <p>AI Thinks is committed to providing innovative software solutions to its clients and recognizes the importance of technology. Our seasoned software professionals have expertise in a wide range of technologies including</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Check out the great services we offer</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Enterprise Solution Development</a></h4>
              <p class="description">
              AI Thinks is capable of enterprise solution development  that is designed for the unique needs
                of your business. This customised enterprise solution development  will help you make faster and
                better decisions to keep pace with the ever changing needs of your business. <br>
                <br>
                We have certified professionals
                who are some of the best in the field of enterprise application development. They will assist you in creating
                an integrated suite of unified information architecture backed up with functionalities that you may require
                for various individual applications. These applications are the ones that connect business processes within
                and across departmental, geographical, and line-of-business domains.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">IT Consulting</a></h4>
              <p class="description">
                Our consulting expertise spans the spectrum of critical competencies from business case development and
                process innovation and implementation to benefits realisation. We are one of the IT consulting companies
                who will help you prepare for the next-generation line of business applications that enable more flexible
                and collaborative business processes. <br>
                <br>
                We help deliver continuous and sustainable values across the full
                solution lifecycle so you can make use of our expertise in all areas of your business. We are committed
                to deliver tangible benefits through technology-driven business and process transformation. We are dedicated
                to working with clients who just like us, aspire to be the best in their field.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Web Application Development</a></h4>
              <p class="description">
                The growing demands of web-enabled services are fuelling the need for high-quality website applications.
                A web application with the right blend of creativity and functionality will help boost the online presence
                of your business. We provide end-to-end, flexible and advanced web application development services and
                solutions. We have our team of professionals and skilled web developers who have amazing technical expertise.
                They build exceptional applications using the latest technologies that are reliable and resourceful.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Cloud Infrastructure Services</a></h4>
              <p class="description">
                Cloud infrastructure services include designing, deploying, monitoring, supporting,
                and optimizing your cloud or hybrid IT infrastructure. With dedicated management services,
                AI Thinks ensures high performance, availability and scalability of cloud infrastructures.<br>
                <br>
                We pragmatically plan your cloud migration and make the shortcuts to market helping you choose the cloud platform
                adherent to your needs and utilizing the embeddable functionality and managed PaaS environments offered
                by a cloud vendor to cut down development efforts and cloud costs. We design microservice architectures and prioritize
                the containerized services to fine-tune the cloud consumption and to ensure the infrastructure scalability.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
<!--    <section id="portfolio" class="portfolio">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="section-title">-->
<!--          <h2>Portfolio</h2>-->
<!--          <p>Check out our beautifull portfolio</p>-->
<!--        </div>-->

<!--        <div class="row" data-aos="fade-up" data-aos-delay="100">-->
<!--          <div class="col-lg-12">-->
<!--            <ul id="portfolio-flters">-->
<!--              <li data-filter="*" class="filter-active">All</li>-->
<!--              <li data-filter=".filter-app">App</li>-->
<!--              <li data-filter=".filter-card">Card</li>-->
<!--              <li data-filter=".filter-web">Web</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-app">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/client/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-links">-->
<!--                <a href="static/client/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>-->
<!--              </div>-->
<!--              <div class="portfolio-info">-->
<!--                <h4>App 1</h4>-->
<!--                <p>App</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/client/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-links">-->
<!--                <a href="static/client/assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>-->
<!--              </div>-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Web 3</h4>-->
<!--                <p>Web</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-app">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/client/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-links">-->
<!--                <a href="static/client/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bi bi-plus"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>-->
<!--              </div>-->
<!--              <div class="portfolio-info">-->
<!--                <h4>App 2</h4>-->
<!--                <p>App</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/client/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-links">-->
<!--                <a href="static/client/assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bi bi-plus"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>-->
<!--              </div>-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Card 2</h4>-->
<!--                <p>Card</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/client/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-links">-->
<!--                <a href="static/client/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bi bi-plus"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>-->
<!--              </div>-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Web 2</h4>-->
<!--                <p>Web</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-app">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/client/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-links">-->
<!--                <a href="static/client/assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bi bi-plus"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>-->
<!--              </div>-->
<!--              <div class="portfolio-info">-->
<!--                <h4>App 3</h4>-->
<!--                <p>App</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/client/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-links">-->
<!--                <a href="static/client/assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bi bi-plus"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>-->
<!--              </div>-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Card 1</h4>-->
<!--                <p>Card</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/client/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-links">-->
<!--                <a href="static/client/assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bi bi-plus"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>-->
<!--              </div>-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Card 3</h4>-->
<!--                <p>Card</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="static/client/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-links">-->
<!--                <a href="static/client/assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>-->
<!--              </div>-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Web 3</h4>-->
<!--                <p>Web</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Portfolio Section &ndash;&gt;-->

    <!-- ======= F.A.Q Section ======= -->
<!--    <section id="faq" class="faq section-bg">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="section-title">-->
<!--          <h2>F.A.Q</h2>-->
<!--          <p>Frequently Asked Questions</p>-->
<!--        </div>-->

<!--        <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">-->

<!--          <li>-->
<!--            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>-->
<!--            <div id="faq1" class="collapse" data-bs-parent=".faq-list">-->
<!--              <p>-->
<!--                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.-->
<!--              </p>-->
<!--            </div>-->
<!--          </li>-->

<!--          <li>-->
<!--            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>-->
<!--            <div id="faq2" class="collapse" data-bs-parent=".faq-list">-->
<!--              <p>-->
<!--                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.-->
<!--              </p>-->
<!--            </div>-->
<!--          </li>-->

<!--          <li>-->
<!--            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>-->
<!--            <div id="faq3" class="collapse" data-bs-parent=".faq-list">-->
<!--              <p>-->
<!--                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis-->
<!--              </p>-->
<!--            </div>-->
<!--          </li>-->

<!--          <li>-->
<!--            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>-->
<!--            <div id="faq4" class="collapse" data-bs-parent=".faq-list">-->
<!--              <p>-->
<!--                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.-->
<!--              </p>-->
<!--            </div>-->
<!--          </li>-->

<!--          <li>-->
<!--            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>-->
<!--            <div id="faq5" class="collapse" data-bs-parent=".faq-list">-->
<!--              <p>-->
<!--                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in-->
<!--              </p>-->
<!--            </div>-->
<!--          </li>-->

<!--          <li>-->
<!--            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>-->
<!--            <div id="faq6" class="collapse" data-bs-parent=".faq-list">-->
<!--              <p>-->
<!--                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.-->
<!--              </p>-->
<!--            </div>-->
<!--          </li>-->

<!--        </ul>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End F.A.Q Section &ndash;&gt;-->

    <!-- ======= Team Section ======= -->
<!--    <section id="team" class="team">-->
<!--      <div class="container">-->

<!--        <div class="section-title" data-aos="fade-up">-->
<!--          <h2>Team</h2>-->
<!--          <p>Our team is always here to help</p>-->
<!--        </div>-->

<!--        <div class="row">-->

<!--          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">-->
<!--            <div class="member">-->
<!--              <img src="static/client/assets/img/team/team-1.jpg" class="img-fluid" alt="">-->
<!--              <div class="member-info">-->
<!--                <div class="member-info-content">-->
<!--                  <h4>Walter White</h4>-->
<!--                  <span>Chief Executive Officer</span>-->
<!--                </div>-->
<!--                <div class="social">-->
<!--                  <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                  <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                  <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                  <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">-->
<!--            <div class="member">-->
<!--              <img src="static/client/assets/img/team/team-2.jpg" class="img-fluid" alt="">-->
<!--              <div class="member-info">-->
<!--                <div class="member-info-content">-->
<!--                  <h4>Sarah Jhonson</h4>-->
<!--                  <span>Product Manager</span>-->
<!--                </div>-->
<!--                <div class="social">-->
<!--                  <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                  <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                  <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                  <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">-->
<!--            <div class="member">-->
<!--              <img src="static/client/assets/img/team/team-3.jpg" class="img-fluid" alt="">-->
<!--              <div class="member-info">-->
<!--                <div class="member-info-content">-->
<!--                  <h4>William Anderson</h4>-->
<!--                  <span>CTO</span>-->
<!--                </div>-->
<!--                <div class="social">-->
<!--                  <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                  <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                  <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                  <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">-->
<!--            <div class="member">-->
<!--              <img src="static/client/assets/img/team/team-4.jpg" class="img-fluid" alt="">-->
<!--              <div class="member-info">-->
<!--                <div class="member-info-content">-->
<!--                  <h4>Amanda Jepson</h4>-->
<!--                  <span>Accountant</span>-->
<!--                </div>-->
<!--                <div class="social">-->
<!--                  <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                  <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                  <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                  <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Team Section &ndash;&gt;-->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Softwares</h2>
          <p></p>
        </div>

        <div class="clients-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="static/client/assets/img/clients/aws.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/client/assets/img/clients/ansible.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/client/assets/img/clients/docker.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/client/assets/img/clients/k8s.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/client/assets/img/clients/linux.webp" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/client/assets/img/clients/git.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/client/assets/img/clients/java.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/client/assets/img/clients/python.png" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact Us</h2>
          <p>Contact us to get started</p>
        </div>

        <div class="row">

<!--          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">-->
<!--            <div class="info">-->
<!--              <div class="address">-->
<!--                <i class="bi bi-geo-alt"></i>-->
<!--                <h4>Location:</h4>-->
<!--                <p>A108 Adam Street, New York, NY 535022</p>-->
<!--              </div>-->

<!--              <div class="email">-->
<!--                <i class="bi bi-envelope"></i>-->
<!--                <h4>Email:</h4>-->
<!--                <p>info@example.com</p>-->
<!--              </div>-->

<!--              <div class="phone">-->
<!--                <i class="bi bi-phone"></i>-->
<!--                <h4>Call:</h4>-->
<!--                <p>+1 5589 55488 55s</p>-->
<!--              </div>-->

<!--&lt;!&ndash;              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>&ndash;&gt;-->
<!--            </div>-->

<!--          </div>-->

          <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <form  action="/contact" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group col-md-4 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
                 <div class="form-group col-md-4 mt-3 mt-md-0">
                  <label for="name">Contact</label>
                  <input type="tel" class="form-control" name="contact" id="contacting" placeholder="Telephone No." required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" id="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
<!--  <footer id="footer">-->

<!--    <div class="footer-newsletter">-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-lg-6">-->
<!--            <h4>Join Our Newsletter</h4>-->
<!--            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>-->
<!--            <form action="" method="post">-->
<!--              <input type="email" name="email"><input type="submit" value="Subscribe">-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="footer-top">-->
<!--      <div class="container">-->
<!--        <div class="row">-->

<!--          <div class="col-lg-3 col-md-6 footer-contact">-->
<!--            <h3>Ninestars</h3>-->
<!--            <p>-->
<!--              A108 Adam Street <br>-->
<!--              New York, NY 535022<br>-->
<!--              United States <br><br>-->
<!--              <strong>Phone:</strong> +1 5589 55488 55<br>-->
<!--              <strong>Email:</strong> info@example.com<br>-->
<!--            </p>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-6 footer-links">-->
<!--            <h4>Useful Links</h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>-->
<!--            </ul>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-6 footer-links">-->
<!--            <h4>Our Services</h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>-->
<!--            </ul>-->
<!--          </div>-->

<!--          <div class="col-lg-6 col-md-6 footer-links">-->
<!--            <h4>Our Social Networks</h4>-->
<!--            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>-->
<!--            <div class="social-links mt-3">-->
<!--              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>-->
<!--              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>-->
<!--              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>-->
<!--              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
<!--              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>AI Thinks</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
        <a href="https://bootstrapmade.com/"></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/client/assets/vendor/aos/aos.js"></script>
  <script src="static/client/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/client/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/client/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/client/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/client/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/client/assets/js/main.js"></script>

</body>

</html>